<div class="container">
  <div id="bottom-detail">
    <span> <h5>Bargains:</h5>&nbsp; <a href="">Today's Deals, </a><a href="">Deals & Bargains, </a> <a href="">Outlet, </a><a href="">WareHouse Deals, </a><a href="">Woot!, </a></span>
    <span> <h5>Express Exclusives:</h5>&nbsp; <a href="">Express Way Frustration-Free Packing, </a><a href="">Express Way Daily, </a> <a href="">E-Mail Subscription, </a><a href="">Your Profile, </a></span>
    <span> <h5>Gifts & Lists::</h5>&nbsp; <a href="">Wish List, </a><a href="">Gift Cards, </a> <a href="">Gift Ideas, </a><a href="">Wedding Registry, </a><a href="">Baby Registry, </a> <a
      href="">Your Media Library</a></span>
    <span> <h5>Express Private Label Products:</h5>&nbsp; <a href="">Express Basics, </a><a href="">Pinzon Bedding &Bath, </a> <a href="">Express Gear Store, </a></span>
    <span> <h5>Sell With Express:</h5>&nbsp; <a href="">Sell On Express, </a><a href="">Advantage, </a> <a href="">Associates, </a><a href="">Trade In, </a></span>
    <span> <h5>Buy With Express:</h5>&nbsp; <a href="">Express Business Registration, </a><a href="">Express Sri Lanka, </a> <a href="">Shop With Points, </a><a href="">Credit Card Offers, </a><a href="">Woot!, </a></span>
    <span> <h5>For Developers:</h5>&nbsp; <a href="">Express Web Services, </a></span>
    <span> <h5>Express Way Mobile Shopping Apps:</h5>&nbsp; <a href="">for Android, </a><a href="">for Apple, </a></span>
    <span> <h5>For Your Browser:</h5>&nbsp; <a href="">Express Way, </a></span>
  </div>
</div>
