<div id="main-wrap">
  <h1 id="deals-and-promotions-txt">Deals And Promotions</h1>
  <p id="txt-deals">Shop Today’s Deals, Lightning Deals, and limited-time discounts</p>
  <div id="banner">
  </div>
  <div id="filter-top">
    <p id="available-count">Showing 1-32 of 1000 results for 3 Availability Options</p>
    <span id="filter-combo">Sort by &nbsp; &nbsp; &nbsp;
    
    <select>
      <option value="">Featured</option>
      <option value="">Price : Low-High</option>
      <option value="">Price : High-Low</option>
      <option value="">Discount : Low-High</option>
      <option value="">Discount : High-Low</option>
    </select>
    </span>
  </div>

  <div id="details">
    <div class="row" id="inner-wrap">
      <div id="left-filter">
        <h1 class="departmentidandname">Department</h1>
        <ul id="department-list">
          <li *ngFor="let tempdep of departments; index as i">
            <span><input type="checkbox"> &nbsp;{{tempdep.departmentName}}</span>
          </li>
        </ul>
        <!--start dep type-->

        <hr>
        <h1 class="departmentidandname">Deal Type</h1>

        <ul id="deptype">
          <li><a href="">Deal of the Day</a></li>
          <li><a href="">Lightning Deals</a></li>
          <li><a href="">Savings & Sales</a></li>
          <li><a href="">Prime Early Access Deals</a></li>
        </ul>

        <!--End dep type-->

        <!--start Availability type-->

        <hr>
        <h1 class="departmentidandname">Availability</h1>

        <ul id="avlbletype">
          <li><a href=""><input type="checkbox"> Active</a></li>
          <li><a href=""><input type="checkbox"> Upcoming</a></li>
          <li><a href=""><input type="checkbox"> Missed</a></li>
        </ul>

        <!--End Availability type-->

        <!--start Price type-->

        <hr>
        <h1 class="departmentidandname">Price</h1>

        <ul id="price-txt">
          <li><a href="">Under $25</a></li>
          <li><a href="">$25 to $50</a></li>
          <li><a href="">$50 to $100</a></li>
          <li><a href="">$100 to $200</a></li>
          <li><a href="">$200 & Above</a></li>
        </ul>

        <!--End Price type-->

        <!--start Discount type-->

        <hr>
        <h1 class="departmentidandname">Price</h1>

        <ul id="discount-txt">
          <li><a href="">10% Off or More</a></li>
          <li><a href="">25% Off or More</a></li>
          <li><a href="">50% Off or More</a></li>
          <li><a href="">70% Off or More</a></li>
        </ul>

        <!--End Discount type-->

        <!--start Discount type-->

        <hr>
        <h1 class="departmentidandname">Price</h1>

        <ul id="avg-txt">
          <li>
            <p class="stars">
              <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
              <i class="fa fa-star"></i> &nbsp; &nbsp; <span>& Up</span>
            </p>
          </li>
        </ul>

        <!--End Discount type-->

      </div>
      <div id="right-wrap" class="row">
        <!--start item-->
        <div class="items-div">
          <div class="image-div">
            <img
              src="https://ke.jumia.is/V1pp0CDm9_feXILfj3DkBjZ0N1E=/fit-in/680x680/filters:fill(white):sharpen(1,0,false):quality(100)/product/47/7086/1.jpg"
              alt="">
          </div>
          <div class="product-detail">
            <p class="price">$17.99 - $55.99</p>
            <p class="time-duration">Time Duration: 10:20:12</p>
            <p class="title"><a href="">Save Big on Leather Bags & Purses For Women</a></p>
            <p class="stars">
              <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
              &nbsp;&nbsp;250
            </p>
          </div>
          <input type="button" class="btn btn-sm btn-secondary ids" value="See more">
        </div>
        <!--End item-->
        <!--start item-->
        <div class="items-div">
          <div class="image-div">
            <img
              src="https://ke.jumia.is/V1pp0CDm9_feXILfj3DkBjZ0N1E=/fit-in/680x680/filters:fill(white):sharpen(1,0,false):quality(100)/product/47/7086/1.jpg"
              alt="">
          </div>
          <div class="product-detail">
            <p class="price">$17.99 - $55.99</p>
            <p class="time-duration">Time Duration: 10:20:12</p>
            <p class="title"><a href="">Save Big on Leather Bags & Purses For Women</a></p>
            <p class="stars">
              <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
              &nbsp;&nbsp;250
            </p>
          </div>
          <input type="button" class="btn btn-sm btn-secondary ids" value="See more">
        </div>
        <!--End item-->
        <!--start item-->
        <div class="items-div">
          <div class="image-div">
            <img
              src="https://ke.jumia.is/V1pp0CDm9_feXILfj3DkBjZ0N1E=/fit-in/680x680/filters:fill(white):sharpen(1,0,false):quality(100)/product/47/7086/1.jpg"
              alt="">
          </div>
          <div class="product-detail">
            <p class="price">$17.99 - $55.99</p>
            <p class="time-duration">Time Duration: 10:20:12</p>
            <p class="title"><a href="">Save Big on Leather Bags & Purses For Women</a></p>
            <p class="stars">
              <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
              &nbsp;&nbsp;250
            </p>
          </div>
          <input type="button" class="btn btn-sm btn-secondary ids" value="See more">
        </div>
        <!--End item-->
        <!--start item-->
        <div class="items-div">
          <div class="image-div">
            <img
              src="https://ke.jumia.is/V1pp0CDm9_feXILfj3DkBjZ0N1E=/fit-in/680x680/filters:fill(white):sharpen(1,0,false):quality(100)/product/47/7086/1.jpg"
              alt="">
          </div>
          <div class="product-detail">
            <p class="price">$17.99 - $55.99</p>
            <p class="time-duration">Time Duration: 10:20:12</p>
            <p class="title"><a href="">Save Big on Leather Bags & Purses For Women</a></p>
            <p class="stars">
              <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
              &nbsp;&nbsp;250
            </p>
          </div>
          <input type="button" class="btn btn-sm btn-secondary ids" value="See more">
        </div>
        <!--End item-->
        <!--start item-->
        <div class="items-div">
          <div class="image-div">
            <img
              src="https://ke.jumia.is/V1pp0CDm9_feXILfj3DkBjZ0N1E=/fit-in/680x680/filters:fill(white):sharpen(1,0,false):quality(100)/product/47/7086/1.jpg"
              alt="">
          </div>
          <div class="product-detail">
            <p class="price">$17.99 - $55.99</p>
            <p class="time-duration">Time Duration: 10:20:12</p>
            <p class="title"><a href="">Save Big on Leather Bags & Purses For Women</a></p>
            <p class="stars">
              <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
              &nbsp;&nbsp;250
            </p>
          </div>
          <input type="button" class="btn btn-sm btn-secondary ids" value="See more">
        </div>
        <!--End item-->

        <!--start item-->
        <div class="items-div">
          <div class="image-div">
            <img
              src="https://ke.jumia.is/V1pp0CDm9_feXILfj3DkBjZ0N1E=/fit-in/680x680/filters:fill(white):sharpen(1,0,false):quality(100)/product/47/7086/1.jpg"
              alt="">
          </div>
          <div class="product-detail">
            <p class="price">$17.99 - $55.99</p>
            <p class="time-duration">Time Duration: 10:20:12</p>
            <p class="title"><a href="">Save Big on Leather Bags & Purses For Women</a></p>
            <p class="stars">
              <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
              &nbsp;&nbsp;250
            </p>
          </div>
          <input type="button" class="btn btn-sm btn-secondary ids" value="See more">
        </div>
        <!--End item-->

        <!--start item-->
        <div class="items-div">
          <div class="image-div">
            <img
              src="https://ke.jumia.is/V1pp0CDm9_feXILfj3DkBjZ0N1E=/fit-in/680x680/filters:fill(white):sharpen(1,0,false):quality(100)/product/47/7086/1.jpg"
              alt="">
          </div>
          <div class="product-detail">
            <p class="price">$17.99 - $55.99</p>
            <p class="time-duration">Time Duration: 10:20:12</p>
            <p class="title"><a href="">Save Big on Leather Bags & Purses For Women</a></p>
            <p class="stars">
              <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
              &nbsp;&nbsp;250
            </p>
          </div>
          <input type="button" class="btn btn-sm btn-secondary ids" value="See more">
        </div>
        <!--End item-->

        <!--start item-->
        <div class="items-div">
          <div class="image-div">
            <img
              src="https://ke.jumia.is/V1pp0CDm9_feXILfj3DkBjZ0N1E=/fit-in/680x680/filters:fill(white):sharpen(1,0,false):quality(100)/product/47/7086/1.jpg"
              alt="">
          </div>
          <div class="product-detail">
            <p class="price">$17.99 - $55.99</p>
            <p class="time-duration">Time Duration: 10:20:12</p>
            <p class="title"><a href="">Save Big on Leather Bags & Purses For Women</a></p>
            <p class="stars">
              <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
              &nbsp;&nbsp;250
            </p>
          </div>
          <input type="button" class="btn btn-sm btn-secondary ids" value="See more">
        </div>
        <!--End item-->

        <!--start item-->
        <div class="items-div">
          <div class="image-div">
            <img
              src="https://ke.jumia.is/V1pp0CDm9_feXILfj3DkBjZ0N1E=/fit-in/680x680/filters:fill(white):sharpen(1,0,false):quality(100)/product/47/7086/1.jpg"
              alt="">
          </div>
          <div class="product-detail">
            <p class="price">$17.99 - $55.99</p>
            <p class="time-duration">Time Duration: 10:20:12</p>
            <p class="title"><a href="">Save Big on Leather Bags & Purses For Women</a></p>
            <p class="stars">
              <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
              &nbsp;&nbsp;250
            </p>
          </div>
          <input type="button" class="btn btn-sm btn-secondary ids" value="See more">
        </div>
        <!--End item-->

        <!--start item-->
        <div class="items-div">
          <div class="image-div">
            <img
              src="https://ke.jumia.is/V1pp0CDm9_feXILfj3DkBjZ0N1E=/fit-in/680x680/filters:fill(white):sharpen(1,0,false):quality(100)/product/47/7086/1.jpg"
              alt="">
          </div>
          <div class="product-detail">
            <p class="price">$17.99 - $55.99</p>
            <p class="time-duration">Time Duration: 10:20:12</p>
            <p class="title"><a href="">Save Big on Leather Bags & Purses For Women</a></p>
            <p class="stars">
              <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
              &nbsp;&nbsp;250
            </p>
          </div>
          <input type="button" class="btn btn-sm btn-secondary ids" value="See more">
        </div>
        <!--End item-->

        <!--start item-->
        <div class="items-div">
          <div class="image-div">
            <img
              src="https://ke.jumia.is/V1pp0CDm9_feXILfj3DkBjZ0N1E=/fit-in/680x680/filters:fill(white):sharpen(1,0,false):quality(100)/product/47/7086/1.jpg"
              alt="">
          </div>
          <div class="product-detail">
            <p class="price">$17.99 - $55.99</p>
            <p class="time-duration">Time Duration: 10:20:12</p>
            <p class="title"><a href="">Save Big on Leather Bags & Purses For Women</a></p>
            <p class="stars">
              <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
              &nbsp;&nbsp;250
            </p>
          </div>
          <input type="button" class="btn btn-sm btn-secondary ids" value="See more">
        </div>
        <!--End item-->

        <!--start item-->
        <div class="items-div">
          <div class="image-div">
            <img
              src="https://ke.jumia.is/V1pp0CDm9_feXILfj3DkBjZ0N1E=/fit-in/680x680/filters:fill(white):sharpen(1,0,false):quality(100)/product/47/7086/1.jpg"
              alt="">
          </div>
          <div class="product-detail">
            <p class="price">$17.99 - $55.99</p>
            <p class="time-duration">Time Duration: 10:20:12</p>
            <p class="title"><a href="">Save Big on Leather Bags & Purses For Women</a></p>
            <p class="stars">
              <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
              &nbsp;&nbsp;250
            </p>
          </div>
          <input type="button" class="btn btn-sm btn-secondary ids" value="See more">
        </div>
        <!--End item-->

        <!--start item-->
        <div class="items-div">
          <div class="image-div">
            <img
              src="https://ke.jumia.is/V1pp0CDm9_feXILfj3DkBjZ0N1E=/fit-in/680x680/filters:fill(white):sharpen(1,0,false):quality(100)/product/47/7086/1.jpg"
              alt="">
          </div>
          <div class="product-detail">
            <p class="price">$17.99 - $55.99</p>
            <p class="time-duration">Time Duration: 10:20:12</p>
            <p class="title"><a href="">Save Big on Leather Bags & Purses For Women</a></p>
            <p class="stars">
              <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
              &nbsp;&nbsp;250
            </p>
          </div>
          <input type="button" class="btn btn-sm btn-secondary ids" value="See more">
        </div>
        <!--End item-->
      </div>
    </div>

  </div>

</div>
