<div id="main-wrap">
  <div id="main-slider">
    <img id="background-image" src="../../assets/images/back-view-image.jpg" alt="background">
  </div>

  <!--start tab bar-->

  <div id="tab-bar-wrap">
    <div class="row" id="inner-top">
      <div class="item">
        <div class="item-div"></div>
      </div>
      <div class="item">
        <div class="item-div"></div>
      </div>
      <div class="item">
        <div class="item-div"></div>
      </div>
      <div class="item">
        <div class="item-div"></div>
      </div>
    </div>


    <!--start details-->

    <div id="discover-express-wrap" class="inter-featured">
        <h3 id="From-Express-Way">From Express Way &nbsp; &nbsp;<span><a href="#">Click to learn more</a></span></h3>
    </div>

    <div id="Like-new-Smartphones" class="inter-featured">
      <h3 id="new-Smartphones">new Smart phones &nbsp; &nbsp;<span><a href="#">shop now</a></span></h3>
    </div>

    <div id="Trending-in-video-games" class="inter-featured">
      <h3 id="video-games"> Trending in video games &nbsp; &nbsp;<span><a href="#">shop now</a></span></h3>
    </div>

    <div id="Mens-watches-we-love" class="inter-featured">
      <h3 id="Men-watches">Men's watches &nbsp; &nbsp;<span><a href="#">shop now</a></span></h3>
    </div>

    <div id="Adult-party-games" class="inter-featured">
      <h3 id="Adult-party">Adult party games &nbsp; &nbsp;<span><a href="#">shop now</a></span></h3>
    </div>

    <div id="Like-new-Laptops-Computers" class="inter-featured">
      <h3 id="LaptopsComputers">Laptops & Computers &nbsp; &nbsp;<span><a href="#">shop now</a></span></h3>
    </div>

    <div id="Best-Sellers-in-Home" class="inter-featured">
      <h3 id="in-Home">Best Sellers in Home &nbsp; &nbsp;<span><a href="#">shop now</a></span></h3>
    </div>

    <div id="Best-Sellers-in-Toys-Games" class="inter-featured">
      <h3 id="Best-Games">Best Sellers in Toys & Games &nbsp; &nbsp;<span><a href="#">shop now</a></span></h3>
    </div>

    <div id="Related-to-items-you-viewed " class="inter-featured">
      <h3 id="Related-viewed">Related to items you viewed</h3>
    </div>


    <!--End details-->

  </div>

  <!--End tab bar-->


</div>
