<div id="browsing-wrap">
  <div id="inner-wrap">

    <!--start top bar-->

    <div id="top-bar">
      <ul>
        <li>
          <a href="">Your Expressway.com</a>
          <a href="">Your Browsing History</a>
          <a href="">Your Recommended For You</a>
          <a href="">Improve Your Recommendations</a>
          <a href="">Your Profile</a>
          <a href="">Learn More</a>
        </li>
      </ul>
    </div>

    <!--End top bar-->

    <!--start History bar-->

    <div id="history-bar">
      <div id="history-bar-top">
        <h1>Browsing History</h1>
        <h2 id="btnDropdown">Manage History &nbsp; &nbsp; <i class="fa fa-caret-down"></i></h2>
      </div>
      <div id="history-bar-bottom" class="collapse">
        <h1 id="manage-history-txt">Manage history</h1>
        <input type="button" value="Clear All Browsing History" class="btn btn-secondary btn-sm" id="btnclear">
        <h3 id="onoff">Browsing History ON/OFF</h3>
      </div>
    </div>

    <!--End History bar-->

  </div>
</div>
